* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Tajawal', Arial, Helvetica, sans-serif;
    font-weight: 400;
}
a {
    text-decoration: none;
    color: white;
}
ul, li {
    list-style: none;
}
footer {
    color: white;
}
body {
    background-color: #87cefa;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headerContainer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center
}
.headerContainer > h1 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 2.5rem;
}
.headerContainer > h2 {
    margin: -3px;
    font-size: 1.5rem;
    text-align: center;
}
.calcContainer {
    width: 370px;
    height: 525px;
    margin: 15px;
    padding: 3px;
    background-color: #474444;
    border-radius: 9px;
    border: 3px solid black;
}
#calc {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}
.inputContainer {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inputContainer > div {
    width: 330px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.inputContainer > div > span {
    padding: 1px;
    color: yellow; 
    background-color: #666;
    padding: 3px;
    font-family: 'Chakra Petch';
    font-size: 1rem;
    font-weight: 500;
    border-radius: 3px;
    border: 3px solid #000;
}
.inputContainer > input {
    width: 330px;
    height: 70px;
    background-color: #666;
    font-family: 'Chakra Petch';
    font-size: 3rem;
    font-weight: 500;
    padding: 5px;
    color: #90ee90;
    border-radius: 3px;
    border: 6px solid #000;
}
.buttonsContainer {
    width: 100%;
    height: 408px;
    margin-top: 5px;
    padding: 10px;
    display: grid;
    grid-template-columns: 84px 84px 84px 85px;
    grid-template-rows: 64px 64px 64px 64px 64px 64px;
    justify-items: center;
    align-items: center;
}
/*setando todos os button nos seus devidos lugares*/
#button1{
    grid-column: 1;
    grid-row: 1;
}
#button2{
    grid-column: 2 / 3;
    grid-row: 1;
}
#button3{
    grid-column: 4;
    grid-row: 1;
}
#button4{
    grid-column: 1;
    grid-row: 2;
}
#button5{
    grid-column: 2;
    grid-row: 2;
}
#button6{
    grid-column: 3;
    grid-row: 2;
}
#button7{
    grid-column: 4;
    grid-row: 2;
}
#button8{
    grid-column: 1;
    grid-row: 3;
}
#button9{
    grid-column: 2;
    grid-row: 3;
}
#button10{
    grid-column: 3;
    grid-row: 3;
}
#button11{
    grid-column: 4;
    grid-row: 3;
}
#button12{
    grid-column: 1;
    grid-row: 4;
}
#button13{
    grid-column: 2;
    grid-row: 4;
}
#button14{
    grid-column: 3;
    grid-row: 4;
}
#button15{
    grid-column: 4;
    grid-row: 4;
}
#button16{
    grid-column: 1;
    grid-row: 5;
}
#button17{
    grid-column: 2;
    grid-row: 5;
}
#button18{
    grid-column: 3;
    grid-row: 5;
}
#button19{
    grid-column: 4;
    grid-row: 5;
}
#button20{
    grid-column: 1;
    grid-row: 6;
}
#button21{
    grid-column: 2;
    grid-row: 6;
}
#button22{
    grid-column: 3;
    grid-row: 6;
}
#button23{
    grid-column: 4;
    grid-row: 6;
}

/*design para todos os buttons */
.buttons button {
    width: 70px;
    height: 50px;
    font-family: 'Chakra Petch';
    font-size: 1.8rem;
    font-weight: 600;
    border: none;
    background-color: #f2f3f5;
}
.buttons button:focus {
    outline: none;
    background-color: rgba(242, 243, 245, 0.7);
}
.buttons img {
    width: 30px;
}
#button2 {
    margin-left: 84px;
}
#button2 > button {
    width: 154px;
    background-color: rgba(208, 88, 81, 0.7);;
}
#button3 > button {
    background-color: rgba(208, 88, 81, 0.7);
}
#button23 > button {
    background-color: rgba(70, 149, 54, 0.7);
}

.logoContainer {
    position: fixed;
    bottom: 3px;
    right: 3px;
}
.logoContainer img {
    width: 60px;
}
.imersaoContainer{
    position: fixed;
    bottom: 3px;
    left: 3px;
}
.imersaoContainer img {
    width: 170px;
}
.containerAside {
    width: 240px;
    height: 225px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    border: 3px solid white;
    border-radius: 0 0 0 6px;
    position: fixed;
    top: 1px;
    right: 1px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.containerAside > p > ul, li {
    margin-left: 20px;
}