* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Tajawal', Arial, Helvetica, sans-serif;
    font-weight: 400;
}
a {
    text-decoration: none;
    color: white;
}
ul, li {
    list-style: none;
}
footer {
    color: white;
}
body {
    background-color: #87cefa;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#typeCalc {
    margin: 6px;
    background-color: #474444;
    color: #fff;
}
#typeCalc, option, optgroup{
    font-size: 1.3rem;
}
#typeCalc:focus {
    outline: none
}